.post {

  .excerpt {
    font-size: 0.875rem;
    color: $form-text-color;
  }

  .excerpt-btn {
    border: none;
    border-radius: 0;
    padding: 23px 35px;
    font-weight: 700;
  }
}

.pagination {
  .page-numbers {
    font-size: 1.125rem;
    margin-right: 10px;
    font-weight: 700;
    padding: 13px 15px;
    border: 0.063rem solid $post-border-color;
    color: $pagination-color;
    margin-bottom: 15px;

    &:hover {
      background-color: $primary_color;
      color: #ffffff;
      text-decoration: none;
    }
  }

  .dots {
    border: none;

    &:hover {
      background-color: transparent;
      color: $pagination-color;
    }
  }

  .current {
    background-color: $primary_color;
    color: #ffffff;
  }
}

